:root {
    /* Colors */
    --color-text: #FFFFFF;
    --color-primary: #DBEBEB;
    --color-secondary: #CBECAA;
    --color-dark: #2E2E2E;
    --color-bg: #000000;

    /* Fonts */
    --font-robot: "Roboto";
}